@media(max-width:600px){
    #main{
        width: 100vw;
        /* min-height: 100vh;  */
        /* overflow: hidden;
        overflow-y: hidden;
        overflow-x: hidden; */
       
    }
    /* ::-webkit-scrollbar{
        display: none;

    } */
   
    #nav_top{
        width: 100vw;
        height: 12vh;
        padding: 0 5vw;
        left: 0vw;
        /* background-color: rgb(208, 255, 0); */
    }
    #nav_top>img{
        height: 10vw;
    }
    #nav_top>button{
        padding: 2vw 6vw;
        Font-size: 4.5vw;
        Font-weight: 700;
        Line-height: 25px;
    }
    #nav_left{
        display: none;
    }

    #bottle{
        height: 40vh;
        top: 30%;
    /* display: ; */
        left: 27%; 
    }
   
    #page1_dog_image{
        height: 15vh;
        position: absolute;
        top: 30%;
        left: 16%;
        transform: rotate(-30deg);
    }
    

    #page1 h1{
        width: 100vw;
        Font-size: 20vw;
        Font-weight: 400;
        Line-height: 22vw;
        position: relative;
    }

    #page1{
        width: 100vw;
        height: 100vh;
          /* background-color: aqua; */
    }

    #page2{
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        /* display: none; */
        padding: 0 4.1vw 0 5vw;
        gap: 1vmax;
    }
    #page2_part1{
        width: 90vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        /* background-color: red; */
    }
    #page2_part1 h1{
        width: 50vw;
        height: 17.5vh;
        font-size:15vw;
        line-height: 8vh;
        font-weight: 500;
        margin-bottom: 0.5px;
    }
    #page2_part1>p {
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
        margin-bottom: 5px;
        /* margin-bottom: 15px; */
    }
    #page2_part1>button{
        padding: 3vw 6vw;
        Font-size: 14px;
    }
    #page2_part1 h3{
        font-family: dancing script;
        margin-bottom: 6px;
    }

    #page2_part2{
        width: 90vw;
        height: 50vh;
        /* position: absolute; */
        padding: 2vmax 2vmax;
    }
    #page2_part2 h3{
        font-size: 5vw;
        margin-bottom: 2vw;
        font-weight: 600;
        display: inline-block;
        /* background-color: aqua; */
    }
    #box{
      
        margin-bottom: 2vh;
    
    }
    #page2_part2 h5 {
        color: #666;
        font-size: 4vw;
        margin-bottom: 0.5vw;
        font-weight: 600;
    }
    #page2_part2 p {
        font-size: 3vw;
        width: 61vw;
        color: #111;
        margin-top: 1vw;
        line-height: 13px;
        font-weight: 600;
        /* background-color: aqua; */
    }
    #box h2 {
        font-size: 7vw;
        white-space: nowrap;
        font-family: druk heavy;
    }
    #box h2 span {
        font-size: 5vw
    }

    #page3{
        width: 100vw;
        height: 110vh;
        padding: 0vmax 2vmax 0 2vmax;
        /* display: none; */
    }

    #page3_text{
        flex-direction: column;
    }

    #page3 h1{
        width: 100vw;
        font-size: 19.3vw;
        line-height: 18.5vw;
        font-weight: 550;
        margin-top: 2vw;
    }
    #page3_text_part1 a img{
        width: 90vw;
        margin-top: 1vh;
    }
    #page3_text_part1 h5{
        width: 90vw;
        padding: 0 1.6vmax;
        font-size: 5vw;
        margin-top: 1vh;
        line-height: 3vh;
        font-family: dancing script;
    }
    #page3_text_part2{
        width: 90vw;
        height: 70vh;
        padding: 1vmax 2vmax;
        /* background-color: aqua; */
    }
    #page3_text_part2 h5{
        width: 85vw;
        font-size: 1.7vmax;
        /* background-color: aqua; */
    }
    #page3_text_part2 h2{
        margin-top: 1.5vmax;
        font-family: 'Anton', sans-serif;
        font-size: 3.5vmax;
        font-weight: 100;
        letter-spacing: 0.07vmax;
    }
    #page3_text_part2 p{
        margin-top: 1vh;
        font-family: 'Dosis', sans-serif;
        font-weight: 300;
    }

    #page4{
        width: 100vw;
        height: 100vh;
        /* background-color: aqua; */
    }
    #page4_color_image1{
        width: 50vw;
        margin: 3vh 0 0 2vh;
        position: relative;
    }
    #page4_color_image1_text{
        width: 35vw;
        position: absolute;
        top: 5%;
        left: 15%;
        color: white;
        text-align: center;
        /* background-color: blue; */
    }
    #page4_color_image1_text h4{
        width:15vw;
        margin-bottom: 1vh;
        margin-left: 6vmax;
        font-family: 'Anton', sans-serif;
        text-align: center;
        border-bottom: 0.2vmax solid black;
        font-weight: 100;
        letter-spacing: 0.1vmax;
    }
    #page4_color_image1_text p{
        font-size: 3vw;
        width: 35vw;
    }


    #page4_color_image2{
        width: 50vw;
        margin: 26vh 0 0 -3vh;
    }
    #page4_color_image2_text{
        width: 35vw;
        position: absolute;
        top: 28%;
        left: 60%;
        color: white;
        text-align: center;
        /* background-color: blue; */
    }
    #page4_color_image2_text h4{
        width:15vw;
        margin-bottom: 1vh;
        margin-left: 6vmax;
        font-family: 'Anton', sans-serif;
        text-align: center;
        border-bottom: 0.2vmax solid black;
        font-weight: 100;
        letter-spacing: 0.1vmax;
    }
    #page4_color_image2_text p{
        font-size: 3vw;
        width: 35vw;
    }


   /*  */
    #page4_color_image3{
        width: 50vw;
        margin: 58vh 0 0 -25vh;
    }

    #page4_color_image3_text{
        width: 35vw;
        position: absolute;
        top: 61%;
        left: 59%;
        color: white;
        text-align: center;
        /* background-color: blue; */
    }
    #page4_color_image3_text h4{
        width:35vw;
        margin-bottom: 0.8vh;
        margin-left: 2vmax;
        font-family: 'Anton', sans-serif;
        text-align: center;
        word-spacing: nowrap;
        border-bottom: 0.2vmax solid rgb(228, 225, 225);
        font-weight: 100;
        letter-spacing: vmax;
        /* background-color: blanchedalmond; */
    }
    #page4_color_image3_text p{
        font-size: 3vw;
        width: 35vw;
    }
    #page4_color_image4{
        width: 30vw;
        height: 25vh;
        margin: 70vh 0 0 -43vh;
        transform: rotate(-17deg);
    }

   /*  */
   #page5{
    width: 100vw;
    height: 110vh;
    position: relative;
    /* background-color: aliceblue; */
   }
   #page5 h5{
    font-size: 5vmax;
    font-family: dancing script;
   }
   #page5 h1{
    width: 73vw;
    font-size: 600;
    font-size: 16vw;
   }

   #page5_image_box{
    width: 100vw;
    height: 85vh;
    /* background-color: aqua; */
   }
   #page5_bottel{
    width: 30vw;
    height: 60vh;
    justify-content: center;
    /* background-color: brown; */
    }
    .page5_extraimage{
        display: none;
    }
    #page5_bottel img{
        width: 39vw;
        /* background-color: chartreuse; */
    }
    #image22{
        transform: rotate(-15deg);
    }
    #image33{
        height: 30vh;
        opacity: 0;
        transform: rotate(-15deg);
    }
     
    /* --------- */
    #page6{
        /* display: none; */
        width: 100vw;
        height: 90vh;
        padding: 0 0vw 0 5vw;
        flex-direction: column;
        position: relative;
        /* background-color: blue; */
    }
    #page6 img{
        width: 90vw;
        height: 30vh;
    }
    #part6_part2{
        padding: 0 4vw 0 4vw;
        width: 90vw;
        height: 62vh;
        /* background-color: aqua; */
    }
    #part6_part2 h5{
        margin-top: 4vmax;
        font-size: 4vmax;
        font-family: dancing script;
    }
    #part6_part2 h1{
        margin-top: 3vh;
        width: 90vw;
        font-family: 'Anton', sans-serif;
        font-size: 100;
        font-size: 5.1vw;
        line-height: 3vh;
    }
    #part6_part2 p{
        margin-top: 2vh;
        font-weight: 400;
        font-family: 'Dosis', sans-serif;
    }
    #part6_part2>button{
        margin-top: 3vh;
        font-size: 3vmax;
        padding: 1vmax 3vmax;
    }










 
    

    
}